

/* the box on the map page */

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.55;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.75;
  transition-delay: 0;
}


.sidebar-menu > li {
    white-space: normal;
}

/* main page layout */

/* Main body background - off-white*/
.content-wrapper, .right-side {
  background-color: #A9A9A9;
  }

/* main header color */
.skin-blue .main-header .logo { background-color: #7EA5B0; }

/* logo when hovered - no change when hovered */
 .skin-blue .main-header .logo:hover { background-color: #7EA5B0; }

/* navbar (rest of the header) */
.skin-blue .main-header .navbar { background-color: #7EA5B0; }



/* tab boxes */

/* tabBox background color - same as main page */
.tab-pane {
  background-color:  #A9A9A9;
}

/* tabBox margin color */
.tab-pane .tab-content {
  background-color: #A9A9A9;

      border-bottom-color:#000000;
      border-left-color:#000000;
      border-right-color:#000000;
      border-top-color: #000000;

}
/* active tab color */
.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
     background-color: #31726D;
     border-color: transparent;
     border-top-color: #000000;
     color: #ffffff;
}

.content-wrapper .tabbable .nav .active {
    border-top: 3px solid red;
}

/* inactive tab color */
.nav-tabs-custom .nav-tabs {
     color: #000000;
     background-color: #ffffff;
     border-color: black;
}
.nav-tabs > li > a {
  color: white;
}

/*  sidebar styling */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{ background-color: #31726D; color: white; }
.skin-blue .main-sidebar .sidebar .sidebar-menu {background-color:#5E5E5E; color: white;}
.skin-blue .main-sidebar  {background-color: #5E5E5E;}


/* change size of icons in sub-menu items */
.sidebar .sidebar-menu .treeview-menu>li>a>.fa { font-size: 15px; }
.sidebar .sidebar-menu .treeview-menu>li>a>.glyphicon { font-size: 13px; }

/* Hide icons in sub-menu items */
.sidebar .sidebar-menu .treeview>a>.fa-angle-left {  display: none; }

/* shiny box options */
div.box-header {  text-align: center; }
.box.box-solid.box-primary>.box-header {
   background: #C7D9FF;
   opacity: 1;
   color: #000000;
 }
.box.box-solid.box-primary.box-title {
      border-bottom-color:#000000;
      border-left-color:#000000;
      border-right-color:#000000;
      border-top-color: #000000;
      background-color: #ededed;
      color: #000000;

}

.box.box-solid.box-success>.box-header {
   background: #31726D;
   opacity: 1;
   color: #000000;
 }
.box.box-solid.box-success {
      border-bottom-color:#000000;
      border-left-color:#000000;
      border-right-color:#000000;
      border-top-color: #000000;
}


hr {border-top: 1px solid #000000;}

.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden; }



.modal-content {
  background:  #A9A9A9;
}

.modal-dialog modal-lg {
  width = 1000px;
}
